@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0.7rem;
}

*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 14px;
}

.bg-primary-gradient {
  background: linear-gradient(
    223.49deg,
    rgba(67, 69, 253, 0.76) 1.04%,
    rgba(67, 69, 253, 0.87) 16.4%,
    #2628d8 74.85%
  );
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.dxeBase {
  font-size: 9pt;
  font-family: cursive;
}

input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
  @apply text-white bg-gray-700 hover:bg-gray-600 font-medium text-sm cursor-pointer border-0 py-2.5 pl-8 pr-4;
  margin-inline-start: -1rem;
  margin-inline-end: 1rem;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(10deg);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  75% {
    transform: rotateZ(6deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.animate-wiggle {
  animation: wiggle 1s ease-in-out infinite;
}
